*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/codeStyles
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dictionaries
/.idea/markdown-navigator
/.idea/markdown-navigator.xml
/.idea/markdown-doclet.xml
/.idea/markdown-exported-files.xml
.DS_Store
/build
/captures
.externalNativeBuild
